<html>
<head>
{% load staticfiles %}
<title>index</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
<!--<link rel="stylesheet" href="{% static 'css/filename.css' %}">-->
</head>
<body>
<body> 
<center>
<h1 align="center">Automatic Feature Extraction From Satellite Imagery</h1>
<p id="rcorners1">
<a href="/landset7/">
<input type="button" value="LANDSAT 7" style="height:75px;width:175px;margin-top:60px">
</a>
<br><br><br>
<a href="/landset8/">
<input type="button" value="LANDSAT 8" style="height:75px;width:175px;margin-top:60px">
</p>
</a>
</center>
</body>
</html>