<html>
<head>
{% load staticfiles %}
<title>LANDSAT 7</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
<h1 align="center">LANDSAT 7</h1>

<a href="/">
<center><input type="button" value="Home" style="height:75px;width:175px;"></center>
</a>
<br><br><br>
<a href="/ndvi_7/">
<center>
<input type="button" value="NDVI" style="height:75px;width:175px;margin-top:0px;">
</a>
</center>
<br><br><br>

<a href="/ndwi_7/">
<center><input type="button" value="NDWI" style="height:75px;width:175px;margin-top:0px;"></center>
</a>
<br><br><br><a href="/ndbi_7/">
<center>
<input type="button" value="NDBI" style="height:75px;width:175px;margin-top:0px;"></center>
</a>
<br><br><br>
</body>
</html>