<html>
<head>
{% load staticfiles %}
<title>LANDSET 8</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
<h1 align="center">LANDSET 8 </h1>
<a href="/">
<center>
<input type="button" value="Home" style="height:75px;width:175px;margin-top:0px;">
</a>
</center>
<br><br><br>

<a href="/ndvi_8/">
<center>
<input type="button" value="NDVI" style="height:75px;width:175px;margin-top:0px;">
</a>
</center>
<br><br><br>
<a href="/ndwi_8/">
<center>
<input type="button" value="NDWI" style="height:75px;width:175px;margin-top:0px;">
</a>
</center>
<br><br><br><a href="/ndbi_8/">
<center>
<input type="button" value="NDBI" style="height:75px;width:175px;margin-top:0px;">
</a>
</center>
<br><br><br>
</body>
</html>