<html>
<head>
{% load staticfiles %}
<title>NDVI LANDSET 7</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

<!--<link rel="stylesheet" href="{% static 'css/filename.css' %}" -->
</head>
<body>
<center>
<h1 align="center">NDVI LANDSET 7 </h1>
<form action="." method="POST" enctype="multipart/form-data">
{%csrf_token%}
<label for="ndvi1"  font-color=black;>NDVI FILE 1(Band 4)</label>
<br>
<input type="file" id="ndvi1" name="ndvi71" required="required" style="margin-top: 15px" accept="image/*">
<br><br><br>
<label for="ndvi2">NDVI FILE 2(Band 3)</label>
<br>
<input id="ndvi2" name="ndvi72" required="required" type="file" style="margin-top: 15px">
<br><br><br>

<input type="submit" value="Generate">
<br><br>
<a href="/">
<input type="button" value="Home" >
</a>
<br><br><br>

</form> 
</center>	

{%if output%}
<script>
alert("{{loc}}");
</script>
{% endif %}
<br><br><br>
</body>
</html>